{{ define "main" }}

<section class="ftco-about d-md-flex">
    <div class="one-half img" style="background-image: url('{{ .Params.about_bg_image}}');"></div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4">Welcome to<span class="flaticon-pizza">Pizza</span> A Restaurant</h2>
        </div>
        <div>
            <p>{{ .Params.about_content }}</p>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate text-center">
                <h2 class="mb-4">{{ .Params.our_chef_title }}</h2>
                <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
                <p class="mt-5">{{ .Params.our_chef_content }}</p>
            </div>
        </div>
        <div class="row">
            {{ range where .Site.Pages "Type" "chef" }}
            <div class="col-lg-3 d-flex mb-sm-4 ftco-animate">
                <div class="staff">
                    <div class="img mb-4" style="background-image: url('{{ .Params.chef_image_url}}');"></div>
                    <div class="info text-center">
                        <h3><a href="#">{{ .Params.title }}</a></h3>
                        <span class="position">{{ .Params.chef_profile }}</span>
                        <div class="text">
                            <p>{{ .Params.chef_content }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>



{{ end }}