{{ define "main" }}

<section class="home-slider owl-carousel img" style="background-image: url(images/bg_1.jpg);">
  {{ range where .Site.Pages "Type" "slider"  }}
  <div class="slider-item">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center" data-scrollax-parent="true">

        <div class="col-md-6 col-sm-12 ftco-animate">
          <span class="subheading">{{ .Params.slider_heading }}</span>
          <h1 class="mb-4">{{ .Params.slider_title }}</h1>
          <p class="mb-4 mb-md-5">{{ .Params.slider_content }}</p>
          <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
        </div>
        <div class="col-md-6 ftco-animate">
          <img src="{{ .Params.slider_image_url }}" class="img-fluid" alt="img">
        </div>

      </div>
    </div>
  </div>
  {{ end}}

  <div class="slider-item" style="background-image: url(images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <span class="subheading">{{ .Params.slider3_heading }}</span>
          <h1 class="mb-4">{{ .Params.slider3_title }}</h1>
          <p class="mb-4 mb-md-5">{{ .Params.slider3_content }}</p>
          <p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Order Now</a> <a href="#" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
        </div>
        
      </div>
    </div>
  </div>  
</section>

<section class="ftco-intro">
  <div class="container-wrap">
    <div class="wrap d-md-flex">
      <div class="info">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-phone"></span></div>
            <div class="text">
              <h3>000 (123) 456 7890</h3>
              <p>A small river named Duden flows</p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-my_location"></span></div>
            <div class="text">
              <h3>198 West 21th Street</h3>
              <p>Suite 721 New York NY 10016</p>
            </div>
          </div>
          <div class="col-md-4 d-flex ftco-animate">
            <div class="icon"><span class="icon-clock-o"></span></div>
            <div class="text">
              <h3>Open Monday-Friday</h3>
              <p>8:00am - 9:00pm</p>
            </div>
          </div>
        </div>
      </div>
      <div class="social d-md-flex pl-md-5 p-4 align-items-center">
        <ul class="social-icon">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url('{{ .Params.about_image_url}}');"></div>
  <div class="one-half ftco-animate">
      <div class="heading-section ftco-animate ">
          <h2 class="mb-4">Welcome to<span class="flaticon-pizza">Pizza</span> A Restaurant</h2>
      </div>
      <div>
          <p>{{ .Params.about_content }}</p>
      </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Params.services_title }}</h2>
        <p>{{ .Params.services_content }}</p>
      </div>
    </div>
    <div class="row">
      {{ range first 3 (where .Site.Pages "Type" "service") }}
      <div class="col-md-4 ftco-animate">
        <div class="media d-block text-center block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-5">
            <span class="{{.Params.icon_css_class}}"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">{{ .Params.service_heading }}</h3>
            <p>{{ .Params.service_content }}</p>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Params.title }}</h2>
        <p>{{ .Params.menu_content }}</p>
      </div>
    </div>
  </div>
  <div class="container-wrap">
    <div class="row no-gutters d-flex">
      {{ range first 6 (where .Site.Pages "Type" "menus") }}
      <div class="col-lg-4 d-flex ftco-animate">
        <div class="services-wrap d-flex">
          <a href="#" class="img order-lg-last" style="background-image: url('{{ .Params.pizza_image_url}}');"></a>
          <div class="text p-4">
            <h3>{{ .Params.pizza_name }}</h3>
            <p>{{ .Params.pizza_content }} </p>
            <p class="price"><span>{{ .Params.pizza_price }}</span> <a href="#"
                class="ml-2 btn btn-white btn-outline-white">Order</a></p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">{{ .Params.menu_pricing_title }}</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <p class="mt-5">{{ .Params.menu_pricing_content }}</p>
      </div>
    </div>
    <div class="row">
      {{ range first 8 (where .Site.Pages "Type" "menu_price")  }}
      <div class="col-md-6">
        <div class="pricing-entry d-flex ftco-animate">
          <div class="img" style="background-image: url('{{ .Params.menu_item_image_url}}');"></div>
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{ .Params.menu_item_name }}</span></h3>
              <span class="price">{{ .Params.menu_item_price }}</span>
            </div>
            <div class="d-block">
              <p>{{ .Params.menu_item_content }}</p>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="ftco-gallery">
  <div class="container-wrap">
    <div class="row no-gutters">
      {{ range first 4 (where .Site.Pages "Type" "gallery")  }}
      <div class="col-md-3 ftco-animate">
        <a href="#" class="gallery img d-flex align-items-center" style="background-image: url('{{ .Params.gallery_image_url}}');">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-search"></span>
          </div>
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>


<section class="ftco-counter ftco-bg-dark img" id="section-counter" style="background-image: url(images/bg_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          {{ range first 4 (where .Site.Pages "Type" "counter")  }}
          <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <div class="icon"><span class="{{ .Params.icon }}"></span></div>
                <strong class="number" data-number="{{ .Params.count }}">0</strong>
                <span>{{ .Params.title }}</span>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-menu">
  <div class="container-fluid">
    <div class="row d-md-flex">
      <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0"
        style="background-image: url('{{ .Params.menu_image_url}}');">
      </div>
      <div class="col-lg-8 ftco-animate p-md-5">
        <div class="row">
          <div class="col-md-12 nav-link-wrap mb-5">
            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                aria-controls="v-pills-1" aria-selected="true">{{ .Params.menu_filter_1 }}</a>

              <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                aria-controls="v-pills-2" aria-selected="false">{{ .Params.menu_filter_2 }}</a>

              <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                aria-controls="v-pills-3" aria-selected="false">{{ .Params.menu_filter_3 }}</a>

              <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab"
                aria-controls="v-pills-4" aria-selected="false">{{ .Params.menu_filter_4 }}</a>
            </div>
          </div>
          <div class="col-md-12 d-flex align-items-center">

            <div class="tab-content ftco-animate" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                <div class="row">
                  {{ range first 3 (where .Site.Pages "Type" "pizza")  }}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4"
                        style="background-image: url('{{ .Params.pizza_image}}');"></a>
                      <div class="text">
                        <h3><a href="#">{{ .Params.pizza_name }}</a></h3>
                        <p>{{ .Params.pizza_content }}</p>
                        <p class="price"><span>{{ .Params.pizza_price }}</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                <div class="row">
                  {{ range first 3 (where .Site.Pages "Type" "drink")  }}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4"
                        style="background-image: url('{{ .Params.drink_image}}');"></a>
                      <div class="text">
                        <h3><a href="#">{{ .Params.drink_name }}</a></h3>
                        <p>{{ .Params.drink_content }}</p>
                        <p class="price"><span>{{ .Params.drink_price }}</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                <div class="row">
                  {{ range first 3 (where .Site.Pages "Type" "burger")  }}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4"
                        style="background-image: url('{{ .Params.burger_image}}');"></a>
                      <div class="text">
                        <h3><a href="#">{{ .Params.burger_name }}</a></h3>
                        <p>{{ .Params.burger_content }}</p>
                        <p class="price"><span>{{ .Params.burger_price }}</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                <div class="row">
                  {{ range first 3 (where .Site.Pages "Type" "pasta")  }}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4"
                        style="background-image: url('{{ .Params.pasta_image}}');"></a>
                      <div class="text">
                        <h3><a href="#">{{ .Params.pasta_name }}</a></h3>
                        <p>{{ .Params.pasta_content }}</p>
                        <p class="price"><span>{{ .Params.pasta_price }}</span></p>
                        <p><a href="#" class="btn btn-white btn-outline-white">Add to cart</a></p>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">{{ .Params.main_title }}</h2>
        <p>{{ .Params.blog_content }}</p>
      </div>
    </div>
    <div class="row d-flex">
      {{ range first 3 (where .Site.Pages "Type" "blog")  }}
      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="#" class="block-20" style="background-image: url('{{ .Params.blog_image_url}}');">
          </a>
          <div class="text py-4 d-block">
              <div class="meta">
              <div><a href="#">{{ .Params.blog_date }}</a></div>
              <div><a href="#">Admin</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
            <h3 class="heading mt-2"><a href="#">{{ .Params.blog_title }}</a></h3>
            <p>{{ .Params.blog_summary }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>


<section class="ftco-appointment">
  <div class="overlay"></div>
  <div class="container-wrap">
    <div class="row no-gutters d-md-flex align-items-center">
      <div class="col-md-6 d-flex align-self-stretch">
        <div id="map"></div>
      </div>
      <div class="col-md-6 appointment ftco-animate">
        <h3 class="mb-3">Contact Us</h3>
        <form action="#" class="appointment-form">
          <div class="d-md-flex">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name">
            </div>
          </div>
          <div class="d-me-flex">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
            <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary py-3 px-4">
          </div>
        </form>
      </div>    			
    </div>
  </div>
</section>

{{ end }}