<footer class="ftco-footer ftco-section img">
  <div class="overlay"></div>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 has_lang" lang="en">{{ .Params.footer_about_us}}</h2>
          <h2 class="ftco-heading-2 has_lang" lang="fr">{{ .Params.footer_about_us_fr}}</h2>
          <p class="has_lang" lang="en">
           {{ .Params.footer_about_us_text}}
          </p>
          <p class="has_lang" lang="fr">
           {{ .Params.footer_about_us_text_fr}}
          </p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate">
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li class="ftco-animate">
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 has_lang" lang="en">{{ .Params.footer_blog_title}}</h2>
          <h2 class="ftco-heading-2 has_lang" lang="fr">{{ .Params.footer_blog_title_fr}}</h2>
          
          {{ range first 2 (where .Site.Pages "Type" "blog")  }}
          <div class="block-21 mb-4 d-flex">
            <a
              class="blog-img mr-4"
              style="background-image: url('{{ .Params.blog_image_url}}')"
            ></a>
            <div class="text">

              <h3 class="heading has_lang" lang="en">
                <a href="#"
                  >{{ .Params.blog_title }}</a
                >
              </h3>
              <h3 class="heading has_lang" lang="fr">
                <a href="#"
                  >{{ .Params.blog_title_fr }}</a
                >
              </h3>

              <div class="meta">
                <div>
                  <a href="#"
                    ><span class="icon-calendar"></span>{{ .Params.blog_date }}</a
                  >
                </div>
                <div>
                  <a href="#"><span class="icon-person"></span> Admin</a>
                </div>
                <div>
                  <a href="#"><span class="icon-chat"></span> 19</a>
                </div>
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>

      <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2 has_lang" lang="en">{{ .Params.footer_services}}</h2>
          <h2 class="ftco-heading-2 has_lang" lang="fr">{{ .Params.footer_services_fr}}</h2>
          <ul class="list-unstyled">
            {{ range first 3 (where .Site.Pages "Type" "service") }}
            <li><a href="#" class="py-2 d-block has_lang" lang="en">{{ .Params.title }}</a></li>
            <li><a href="#" class="py-2 d-block has_lang" lang="fr">{{ .Params.title_fr }}</a></li>
           {{end}}
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 has_lang" lang="en">{{ .Params.footer_question_text}}</h2>
          <h2 class="ftco-heading-2 has_lang" lang="fr">{{ .Params.footer_question_text_fr}}</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span>
                <span class="text has_lang" lang="en">{{ .Params.footer_address}}</span>
                <span class="text has_lang" lang="fr">{{ .Params.footer_address_fr}}</span>
              </li>
              <li>
                <a href="#"><span class="icon icon-phone"></span>
                  <span class="text">+2 392 3929 210</span></a>
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">info@yourdomain.com</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="has_lang" lang="en">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="icon-heart" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
        <p class="has_lang" lang="fr">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          French Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="icon-heart" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </div>
</footer>
{{ "<!-- JS Plugins -->" | safeHTML }} {{ range .Site.Params.plugins.js}}
<script src="{{ .link | absURL }}"></script>
{{ end }}

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
