<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	<div class="container">
		  <a class="navbar-brand" href="/"><span class="flaticon-pizza-1 mr-1"></span>Pizza<br><small>Delicous</small></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		  </button>


	  <div class="collapse navbar-collapse" id="ftco-nav">
		<ul class="navbar-nav ml-auto">
			{{ range where .Site.Pages "Type" "header" }}
			<li class="main has_lang" lang="en">
				<a href="{{ .Params.link}}">{{ .Params.header_name}}</a>
			</li>&nbsp; &nbsp; &nbsp;
			<li class="main has_lang" lang="fr">
				<a href="{{ .Params.link}}">{{ .Params.header_name_fr}}</a>
			</li>&nbsp; &nbsp; &nbsp;
				{{end}}
		</ul>
	  </div>
	  
	  </div>

	  <!-- <ul>
		{{ range $.Site.Home.AllTranslations }}
		<li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
		{{ end }}
		</ul> -->
	 
		
		<span style="margin-bottom: 5px;" onclick="changeLanguage('en')"><a>en</a></span> &nbsp; &nbsp;
		<label class="switch">
			<!-- <span class="enLang">en</span> -->
			<input type="checkbox" id="langCheckBox" onclick="changeLanguage()">
			<span class="slider round"></span>
			<!-- <span class="frLang">fr</span> -->
		  </label> &nbsp; &nbsp;
		<span style="margin-bottom: 5px;" onclick="changeLanguage('fr')"><a>fr</a></span> &nbsp; &nbsp;
	
</nav>

<script>
	function changeLanguage(e) {
  if (e) {
    if (e == "en") {
      localStorage.setItem("language", "en");
      location.reload();
    } else {
      localStorage.setItem("language", "fr");
      location.reload();
    }
  } else {
    var value = document.getElementById("langCheckBox").checked;
    if (value) {
      localStorage.setItem("language", "fr");
      location.reload();
    } else {
      localStorage.setItem("language", "en");
      location.reload();
    }
  }
}

</script>

	<!-- END nav -->